<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'pichapp/mystyles.css' %}">
</head>
<body>
  {% include "pichapp/navbar.html" %}

  <!-- Hero (?) -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"> PichangApp </h1>
        <p class="subtitle"> Tu aplicación para chutear </p>
      </div>
    </div>
  </section>

  <div></div>
  <div class="columns" style="margin-top:100px">

    <!-- Left side: -->

    <div class="column is-two-fifths">
      <div class="columns">
        <div class="column is-two-fifths"></div>
        <div class="column">
          <p class="mb-4 is-size-1">
            Aburrid@?
          </p>
          
          <!-- Adds 0.25rem of padding on the left and the right -->
          <p class="px-5 mb-4 is-size-2">
            Skte una <span style="color: #ff0000">Pichanga</span> po
          </p>
          
          <!-- Removes the margin on the right and adds 0.75rem padding at the top -->
          <p class="px-6 is-size-2">
            O únete a una
          </p>
          <div class="buttons" style="margin: 60px">
            <a href="{% url 'register_user' %}" class="button is-primary is-large">Empezar a chutear</a>
          </div>
        </div>

      </div>
    </div>

    <!-- Right side -->

    <div class="column">
      <div class="columns">
        <div class="column is-one-fifth"></div> <!-- Espaciado -->
        <div class="column is-three-fifths"> <!-- Content -->
          <figure class="image container" width=100>
            <img src="{% static 'pichapp/silueta.png' %}">
          </figure>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- Another Hero (?) -->

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">¿Por qué usar PichangApp?</h1>
        <br>
        <h2 class="subtitle">
          PichangApp te permite <strong>armar</strong> encuentros deportivos de manera fácil y <strong>unirse</strong> a encuentros de otros usuarios.
          </h2>
      </div>
    </div>
    <br>
    <br>
    
  </section>

  <!-- Footer -->

  <footer class="footer">
  <div class="content has-text-centered columns">
    

    <div class="column has-text-left ml-5 is-size-5 is-3">
      <div class="container ml-5">
        Integrantes: <br>
        Albani Olivieri <br>
        Alejandro Torres <br>
        Cristóbal Torres <br>
        Germán Urrea <br>
        Gonzalo Saavedra <br>
        Nicolas Lemuñir <br>
      </div>
    </div>

    <div class="column is-size-5">
        <br>
      <br>
      <p>
      Proyecto Grupo 2 <br>
        CC4401-1
      </p>
    </div>

    <div class="column">
      <figure class="image">
        <img src= "https://raw.githubusercontent.com/mmattamala/LogosFCFM/master/Ciencias%20de%20la%20Computaci%C3%B3n/Logos%20Facultad/fcfm_dcc.svg">
      </figure>
      </div>
  </div>
</footer>

</body>
</html>