<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title> Pichangapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/929bc70b66.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'pichapp/mystyles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'pichapp/register.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'pichapp/floating.css' %}">
  <script src="{% static 'pichapp/notification.js' %}"></script>
  
</head>

<body>
  <div class="hero is-primary">
    <div class="hero-body">
      <h1 class="title has-text-centered is-size-2"> Pichangapp </h1>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="notification is-light">
            <div class="column">
              <figure class="image container is-64x64">
                <img src="{% static 'pichapp/logo.jpg' %}">
              </figure>
              <h1 class="subtitle is-3 has-text-dark"> Login </h1>
              <form method="POST" action="" id="myForm">
                {% csrf_token %} <!-- csrf token for basic security -->
                <div class="field">
                  <label class="label"> Usuario: </label>
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="username" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <label class="label">Contraseña:</label>
                  <p class="control has-icons-left">
                    <input class="input" type="password" name="password" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
              </form>
            </div>
            <div class="columns is-centered">
              <div class="column is-vcentered has-text-centered">
                <button class="button is-primary is-rounded is-light is-medium is-fullwidth mb-2" type="submit" form="myForm"> Ingresar </button>
                <p> ¿No tienes cuenta?</p>
                <a class="button is-info is-rounded is-outlined is-small is-fullwidth" href="{% url 'register_user' %}"> Regístrate </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half floating">
          {% if error %}
        <div class="notification is-warning">
          <button type="button" class="delete" onclick="hide_notification(this)"><span class="icon">
            <i class="fas fa-times" aria-hidden="true"></i>
          </span></button>
          {% for o_error in error %}
          <p>{{ o_error }}</p>
          {% endfor %}
        </div>
        {% endif %}

        {% if success %}
        <div class="notification is-success">
          <button type="button" class="delete" onclick="hide_notification(this)"><span class="icon">
            <i class="fas fa-times" aria-hidden="true"></i>
          </span></button>
        {{ success }}
        </div>
        {% endif %}

        </div>
      </div>
    </div>
  </div>
</body>

</html>