<nav class="navbar is-size-5 has-shadow is-light" role="navigation" aria-label="main navigation">
  {% load static %}
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="{% static 'pichapp/NavPortada.png' %}" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'home_view' %}">
        Home
      </a>

      <a class="navbar-item" href="{% url 'create_room' %}">
        Crear una sala
      </a>

      <a class="navbar-item" href="{% url 'search_room' %}">
        Buscar una sala
      </a>
    </div>
    <div class="navbar-end">
    {% if user.is_authenticated %}
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{% url 'logout_user' %}">
            <strong>Logout</strong>
          </a>
        </div>
      </div>
    {% else %}
      <div class="navbar-item">
        <div class="buttons">
          <a href="{% url 'register_user' %}" class="button is-primary">Regístrate</a>
          <a href="{% url 'login_user' %}" class="button">Iniciar sesión</a>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</nav>
