<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pichapp/mystyles.css' %}">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="{% static 'pichapp/NavPortada.png' %}" width="112" height="28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{% url 'home_view' %}">
              Home
            </a>
      
            <a class="navbar-item" href="{% url 'create_room' %}"> 
              Crear una sala
            </a>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="{% url 'logout_user' %}">
                  <strong>Logout</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>


    <h2 class="has-text-centered title has-text-grey"> Página en construcción </h2>
    <div class="columns is-centered">
        <div class="column is-two-fifths">
            <figure class="image container">
                <img src="{% static 'pichapp/working_test.png' %}" width="100">
            </figure>
        </div>
    </div>        
</body>
</html>