.center-container {
  margin-top: -52px;
  padding: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  width: 100%;
  max-width: 1024px;
}

.navbar2 {
  background-color: white;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.back-to-search-button {
  background-color: #ac6378 !important;
  border: none !important;
  color: white;
}

.container-button {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  width: 100%;
}

.container-button.is-right {
  justify-content: flex-end;
}

.room-box {
  border-radius: 6px;
  box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
  color: #4a4a4a;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "header" "participants" "tabs" "info";
  background-color: white;
}

@media (min-width: 900px) {
  .room-box {
    grid-template-columns: 66% 34%;
    grid-template-rows: auto auto 370px;
    grid-template-areas:
      "header header"
      "tabs tabs"
      "info participants";
  }
}

.room-box-info {
  background-color: #ffefed;
  padding: 32px 64px 32px 64px;
  grid-area: info;
  display: none !important;
  overflow: scroll;
}

.room-box-chat {
  background-color: #ffefed;
  padding: 32px 64px 32px 64px;
  grid-area: info;
  display: flex;
  flex-direction: column;
}

.messages-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 0;
}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 16px;
}

.message-bubble {
  padding: 16px;
  margin-left: -75px;
  background-color: white;
  border-radius: 12px;
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  "content content"
  "_ date";
  row-gap: 8px;
}

.message-bubble-root {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 70px solid white;
}

p.message-content {
  color: #906767;
  font-size: 1.25rem;
  font-weight: 400;
  grid-area: content;
}

span.message-date {
  color: #9e9e9e;
  font-size: 0.75rem;
  grid-area: date;
}

.message-field-form {
  display: flex;
}

.message-field-input {
  border-radius: 12px;
  border: none;
  padding: 16px;
  flex: 5 0;
  color: #906767;
  font-size: 1.25rem;
  font-weight: 400;
}

.message-field-input:focus {
  outline: none !important;
}

.message-field-button {
  border-radius: 12px;
  border: none;
  padding: 16px;
  background-color: #ac6378;
  margin-left: 8px;
}

.message-field-button span {
  font-size: 16px;
  color: white;
}

.room-box-tabs {
  background-color: #ac6378;
  grid-area: tabs;
  color: #ffefed;
}

.room-box-tabs li.is-active a {
  background-color: #ffefed !important;
  color: rgb(74,74,74) !important;
}

.room-box-tabs li.is-active .icon {
  color: #ac6378;
}

.room-box-participants {
  background-color: #ac6378;
  color: #fff4f4;
  padding: 32px 64px 32px 64px;
  grid-area: participants;
}

@media (min-width: 900px) {
  .room-box-tabs {
    background-color: #f1958a;
  }
}

.room-box-participants h3 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.participants-list {
  display: grid;
  grid-auto-flow: row;
  gap: 8px;
}

.room-box-header {
  background-color: #f1958a;
  color: white;
  grid-area: header;
  padding: 1rem 0.5rem 1rem 64px;
}

.room-box-header h2 {
  font-size: 3rem;
  font-weight: bold;
}

.room-box-header p {
  margin-top: -0.6rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.participant-info {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  gap: 8px;
}